$font-color: #1d1f23;
$primary-clr: #3dbdb6;
$list-font-color: #686868;
$active-bg: rgba(61, 189, 182, 0.2);
$error-color: #ce2415;
$active-border: $primary-clr;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700");

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary-clr;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul,
ol,
dl {
  li {
    list-style: none;
  }
}

body {
  font: 14px "Source Sans Pro", sans-serif;
  // font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: $font-color;
  overflow-x: hidden;
  font-weight: 400;
}

.ai-btn {
  height: 40px;
  width: auto;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  min-width: 100px;
  border: none;

  &.primary {
    border: 1px solid $primary-clr;
    color: $primary-clr;
    background: #ffffff;
  }

  &.secondary {
    background: #1d1f23;
    color: $primary-clr;
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.ai-header {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
  min-height: 70px;
  display: flex;
  align-items: center;

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.5);
  }

  .left-data {
    display: flex;
    align-items: center;
    width: 70%;
    float: left;
  }

  .ai-item {
    float: left;
    display: flex;
    align-items: center;

    &.brand-logo {
      width: 40px;

      a {
        line-height: 0;
      }

      img {
        width: 100%;
      }
    }

    &.page-details {
      margin-left: 20px;

      .menu-icon {
        width: 18px;
        line-height: 0;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
        }
      }

      h3 {
        font-size: 26px;
        font-weight: 600;
        margin-left: 40px;
        position: relative;
        top: -2px;
      }
    }

    &.user-details {
      float: right;
      width: 30%;
      display: block;

      .info-icon {
        width: 25px;
        line-height: 0;
        margin-right: 20px;
        float: right;

        img {
          width: 100%;
        }
      }

      .user-options {
        cursor: pointer;
        position: relative;
        padding-left: 35px;
        padding-right: 20px;
        line-height: 25px;
        float: right;

        span {
          color: $primary-clr;
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          background: url("../images/user-avatar.png") no-repeat;
          width: 25px;
          height: 25px;
          background-size: 100%;
          background-position: center;
        }

        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 10px;
          background: url("../images/down-arrow.svg") no-repeat;
          width: 10px;
          height: 10px;
          background-size: 100%;
          background-position: center;
        }
      }

      .auto_save {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        line-height: 25px;
        float: right;

        span {
          color: #bbb;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          background: url("../images/time.png") no-repeat left 0 center;
          padding-left: 22px;
        }
      }
    }
  }
}

.ai-container {
  width: 100%;
  max-width: 1500px;
  padding: 5px 15px;
  margin: 0 auto;
  display: grid;
}

.data-options {
  float: left;
  width: 100%;

  .data-img {
    float: left;
    padding-right: 10px;
    margin-right: 10px;

    &.status {
      border-right: 1px solid #ccc;

      .data-list {
        li {
          padding: 10px;
          border: none;
          border-radius: 10px;

          &.series {
            margin-right: 10px;
            border: 1px solid #ccc;
          }

          &:hover{
            background: rgba(61, 189, 182, 0.5);
            border-color: rgba(61, 189, 182, 0.5);
          }

          &.active {
            background: rgba(61, 189, 182, 0.68);
            border-color: rgba(61, 189, 182, 0.68);
          }
        }
      }
    }

    &.move,
    &.edit,
    &.view {
      border-right: 1px solid #ccc;
    }
  }
}

.data-list {
  float: left;
  width: auto;
  position: relative;

  li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
    color: $list-font-color;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s;
    border: 1px solid transparent;

    &:hover{
      background: rgba(61, 189, 182, 0.3);
      border-color: rgba(61, 189, 182, 0.3);
    }

    &.active {
      background: rgba(61, 189, 182, 0.68);
      border-color: rgba(61, 189, 182, 0.68);
      box-shadow: 0px 3px 8px 0px #ccc;
    }
  }
}

.ai-main-data {
  margin-top: 10px;
  float: left;
  width: 100%;

  &.grid-type-active {
    .left-data {
      .data-main-images-parent {
        width: calc(100% - 160px);
      }

      .ai-annotations {
        display: none;
      }

    }
  }

  .left-data {
    width: 100%;
    float: left;

    &.closed {
      .data-thumbs {
        width: 0;
      }

      .data-main-images-parent {
        width: calc(100% - 280px);
        margin-left: 0;

        &.grouped {
          width: 100%;
          margin: 0;
        }
      }
    }

    .data-thumbs {
      width: 120px;
      float: left;
      height: auto;
      height: 84vh;
      overflow-y: auto;
      transition: all .3s;
    }

    .data-main-images-parent {
      transition: all .3s;
      width: calc(100% - 430px);
      transition: all .3s;
      float: left;
      height: 84vh;
      margin: 0 10px 0 30px;
      position: relative;
      // overflow: hidden;

      .data-main-images {
        height: 100%;
        width: 100%;
        background: #000000;
        float: left;
        padding: 2px;
        // overflow-y: auto;

        .data-src-img {
          width: 100%;
          height: 100%;
          position: relative;

          img {
            width: 100%;
            margin: 0 auto;
          }

          .comment-section {
            position: absolute;
            z-index: 3;
            height: auto;
            width: 200px;
            left: 20%;
            top: 30%;

            .comment-arrow {
              width: 115px;
              height: 2px;
              border: 2px dotted #ff0;
              transform: rotate(130deg);
              position: relative;
              top: -45px;
              left: 125px;

              &:after {
                content: '';
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid yellow;
                position: absolute;
                top: -10px;
                left: -10px;
              }
            }

            .comment-list {
              font-size: 12px;
              padding-left: 15px;
              margin-bottom: 15px;

              ul {
                li {
                  list-style: disc;
                  margin: 5px;

                  &.send {
                    color: yellow;
                  }

                  &.receive {
                    color: white;
                  }
                }
              }
            }

            .button-sec {

              .cm-btn,
              .res-btn {
                border-radius: 20px;
                min-width: unset;
                padding: 3px 10px;
                margin-right: 10px;
                height: auto;
                color: #fff;
                border: 2px solid #fff;
                font-size: 11px;
                background: transparent;
              }

              .cm-btn {
                color: yellow;
                border-color: yellow;
              }
            }

            .comment-popup {
              display: none;
              position: fixed;
              height: 100vh;
              width: 100%;
              top: 0;
              left: 0;
              background: rgba($color: #000000, $alpha: 0.5);
              z-index: 99999;

              .comment-content {
                position: absolute;
                width: 400px;
                height: auto;
                background: #ccc;
                top: 30%;
                left: 0;
                right: 0;
                margin: 0 auto;
                padding: 30px;
                text-align: center;

                .ai-input {
                  width: 100%;
                  height: 40px;
                  border: none;
                  border-radius: 6px;
                  padding: 0 6px;
                  margin-bottom: 15px;
                }

                .ai-btn {
                  margin: 0 10px;

                  &.ai-cancel {
                    border: 2px solid yellow;
                    color: yellow;
                    background: transparent;
                  }

                  &.ai-save {
                    border: 2px solid black;
                    color: black;
                    background: transparent;
                  }
                }
              }
            }
          }

          .small-annotation-list {
            display: none;
            height: 40px;
            width: 100%;
            padding: 8px 15px 0 10px;
            background: rgba(255, 255, 255, .2);

            .sm-anno-ul {
              li {
                width: 100px;
                height: 25px;
                color: #ffffff;
                float: left;
                display: flex;
                align-items: center;
                background: #cccccc;
                border-radius: 5px;
                padding-left: 5px;
                margin-right: 10px;
                cursor: pointer;

                &.more-annotations {
                  background: transparent;
                  text-align: center;

                  p {
                    border: none;
                  }
                }

                P {
                  width: calc(100% - 30px);
                  border-right: 1px solid #fff;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .delete-annotation {
                  width: 15px;
                  margin: 3px auto 0;
                  cursor: pointer;

                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        &.grid-type {
          .data-src-img-block {
            display: block;
            border: 2px solid #0e3132;

            &:hover,
            &.active {
              border-color: $primary-clr;
            }
          }

          &.one-by-two {
            .data-src-img {

              &.annotations-yes {
                img {
                  height: auto !important;
                }
              }

              img {
                width: 100%;
                height: auto;
              }
            }
          }

          .data-src-img {
            img {
              width: auto;
              height: 100%;
            }

            &.annotations-yes {
              flex-direction: column;

              img {
                height: calc(100% - 40px) !important;
              }

              .small-annotation-list {
                display: block;
              }
            }
          }
        }

        &.one-by-one {
          .data-src-img-block {
            height: 50%;
            width: 100%;
          }
        }

        &.one-by-two {
          .data-src-img-block {
            height: 100%;
            width: 50%;
            float: left;
          }
        }

        &.two-by-two {
          .data-src-img-block {
            height: 50%;
            float: left;
            width: 50%;

            .data-src-img {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .create-annotation {
        position: absolute;
        top: 5%;
        right: 30%;
        z-index: 9;
      }
    }
  }

  .right-data {
    width: 18%;
    float: right;
    padding-left: 10px;
    position: relative;
  }
}

.data-list-group {
  width: 100%;
  display: block;

  .data-list-items {
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 13px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 2;

    &:hover,
    &.active {
      background: $active-bg;
      border-color: $active-border;
      box-shadow: 0px 3px 8px 0px #ccc;
    }

    .dli-thumb {
      margin-bottom: 12px;
      line-height: 0;

      img {
        width: 100%;
      }
    }

    .dli-caption {
      p {
        color: $list-font-color;
      }
    }
  }
}

.ai-annotations {
  width: 18%;
  height: 84vh;
  float: left;
  transition: all .3s;

  h4 {
    font-size: 16px;
    color: $list-font-color;
  }

  .ants-list-group {
    float: left;
    margin-top: 10px;
    width: 100%;

    .ants-list-item {
      margin-bottom: 10px;
      background: #cccccc;
      /*padding: 10px;*/
      float: left;
      border-radius: 5px;    
      width: 100%;  

      .ant-header {
        border-radius: 5px 5px 0 0;
        color: #fff;
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        padding: 10px;

        .ant-title {
          width: 90%;
        }

        .ant-delete {
          width: 10%;
          line-height: 0;
          text-align: center;

          img {
            cursor: pointer;
          }
        }
      }

      .ant-info {
        width: 100%;
        float: left;
        color: #fff;
        padding: 5px 10px;
      }
    }
  }
}

.ai-inline-form {
  float: left;
  width: 100%;

  .ai-form-group {
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    margin: 5px 0;

    label {
      width: 30%;
      float: left;
      font-size: 16px;
      font-weight: 600;
      color: $list-font-color;
    }

    .ai-form-control {
      width: 70%;
      float: left;
      border: 1px solid $primary-clr;
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
    }

    .ai-form-annotation {
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      float: left;
      font-size: 14px;
      line-height: 12px;
      font-weight: 600;
      padding: 3px 10px 5px;
      margin: 0 10px 8px 0;
      text-align: center;
      border: 2px solid transparent;
      background-color: #8e8e8e;
    }
  }
}

.create-annotation-block {
  width: 600px;
  padding: 20px 40px;
  display: none;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 20%;
  background: #ffffff;
  z-index: 3;
  overflow: hidden;
  overflow-y: auto;

  h2 {
    font-size: 20px;
  }

  .ai-inline-form {
    margin-top: 35px;

    .ai-form-group {
      &.text-area {
        align-items: initial;
      }

      textarea {
        &.ai-form-control {
          height: 100px;
          resize: none;
        }
      }

      select {
        &.ai-form-control {
          width: 40%;
          cursor: pointer;
        }
      }

      .selected-color {
        border: 1px solid $primary-clr;
        padding: 5px;
        width: 52px;
        height: 32px;

        .se-cl {
          background: #ccc;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
      }
    }

    .form-actions {
      margin-top: 10px;
      float: right;
      width: 100%;
      text-align: right;

      .ai-btn {
        margin-left: 15px;
      }
    }

    .form-required {
      border: 1px solid $error-color !important;
    }
  }
}

.no-br {
  border-right: none !important;
}

.no-bt {
  border-top: none !important;
}

.opt-sub-list {
  position: absolute;
  background: #ffffff;
  padding: 3px;
  width: auto;
  height: auto;
  left: -5px;
  z-index: 9;
  margin-top: 10px;
  display: none;

  &.rangers {
    left: -170px;
  }
}

.grid-select {
  width: 55px;
  float: left;

  .grid-list {
    width: 50%;
    border: 1px solid #9b9b9b;
    float: left;
    height: 27px;

    &.selected,
    &:hover,
    &.active {
      background: $primary-clr;
    }
  }
}

.ai-dialog {
  // display: none;
  width: 400px;
  float: left;
  padding: 17px;
  position: relative;
  background: #ffffff;
  border: 1px solid #ccc;
  color: $font-color;
  margin: 5px;

  .ai-btn {
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    min-width: 72px;
  }

  .aid-close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    width: 15px;
    height: auto;
    cursor: pointer;
  }

  .aid-header {
    padding-right: 20px;
    width: 100%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }

  .aid-body {
    padding: 15px 0;
    width: 100%;
    float: left;
    text-align: left;

    .range-slider {
      margin: 10px 0;
      position: relative;

      .before {
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 10px;
        background: $primary-clr;
        position: absolute;
        z-index: 1;
      }
    }

    .current-filters {
      display: flex;
      align-items: center;

      p {
        padding-right: 5px;
      }
    }

    .ai-btn-block {
      margin-top: 10px;
    }

    .ai-btn {
      margin-right: 5px;
    }
  }

  .aid-footer {
    width: 100%;
    float: left;

    .ai-btn {
      float: right;
    }
  }
}

.ai-dialogs-block {
  width: auto;
  float: left;
  position: absolute;

  .aid-block {
    width: 50%;
    float: left;
  }
}

.list-arrow {
  li {
    display: inline-block;
    padding: 0 5px 0 15px;
    position: relative;

    &:first-child {
      padding-left: 0;

      &:before {
        content: none;
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      left: 0;
      top: 5px;
      background: url("../images/right-arrow.svg") no-repeat center center;
      background-size: 100%;
    }
  }
}

.ai-transition {

  .ui-slider-handle,
  .before {
    transition: all .3s;
  }
}

.ui-slider {
  height: 8px;
  background: #e6e6e6;
  border: none !important;

  .ui-slider-handle {
    height: 22px;
    width: 22px;
    background: $primary-clr;
    border-radius: 100px;
    border: none;
    top: -7px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.annotation-color-picker {
  position: absolute;
  z-index: 4;
  min-height: 100%;
  height: auto;
  width: 100%;
  background: #fff;
  top: 0;
  right: -100%;
  padding: 20px 40px;
  transition: all .4s;

  &.show {
    right: 0;
  }

  h2 {
    display: flex;
    align-items: center;

    img {
      width: 15px;
      cursor: pointer;
      margin-right: 15px;
    }
  }

  .color-pallette {
    width: 100%;

    .color-pic {
      width: 100%;
      float: left;
      margin-top: 20px;

      .evo-more {
        display: none;
      }

      .evo-pop {
        border: none !important;
      }

      .evo-color {
        margin-right: 5px;
        margin-top: 20px;
        width: 50px;

        div {
          height: 30px;
        }

        span {
          font-family: inherit;
          font-size: 10px;
          font-weight: 600;
        }
      }

      table {
        width: 100%;

        tr {
          th {
            display: none;
          }

          td {
            width: 40px;
            height: 25px;
          }
        }
      }
    }
  }
}

.data-src-img-block {
  height: 100%;
  width: 100%;
  padding: 5px;
  padding-bottom: 0;
  padding-left: 0;
  overflow: hidden;
  transition: all .3s;

  .data-src-img-scroller {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}

.viewport {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border: 1px solid transparent;
}

.viewport-active {
  border: 1px solid $primary-clr;
}

.overlay-text {
  position: absolute;
  width: 100%;
  text-align: center;
}

.hide {
  display: none;
}

/* Design updates by AK*/
.ants_tabs_row {
  float: left;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 2px;
  margin: 10px 0;
}

.ants_tabs_row,
.annts_sel_class_block {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      float: left;
      font-size: 14px;
      line-height: 12px;
      font-weight: 600;
      padding: 3px 10px 5px;
      margin: 0 10px 8px 0;
      text-align: center;
      border: 2px solid transparent;

      &.active {
        border: 2px solid #fff;
        -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.annts_sel_class_block {
  position: absolute;
  background: #ececec;
  border-radius: 5px;
  padding: 10px 10px 20px;
  width: 305px;
  height: auto;
  left: 0;
  right: 0;
  top: 220px;
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: none;

  h4 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
  }

  ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-radius: 20px;
      color: #fff;
      cursor: pointer;
      float: left;
      font-size: 14px;
      line-height: 12px;
      font-weight: 600;
      padding: 3px 10px 5px;
      margin: 0 10px 8px 0;
      text-align: center;
      border: 2px solid transparent;

      &.active {
        border: 2px solid #fff;
        -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .form-actions {
    float: none;
    margin: 5px auto 0;
    width: 126px;
    display: table;

    .ai-btn {
      min-width: auto;

      &.secondary {
        background: #4da1ff;
        color: #fff;
        border: 1px solid transparent;
        margin-left: 10px;
      }
    }
  }
}

input[type="checkbox"] {
  display: none;
}

.cmnt_check {
  float: right;
  width: 114px;
  margin-right: 10px;

  label {
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 0 !important;
    float: left;

    &:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      margin-right: 5px;
      left: 0;
      top: -1px;
      border: 1px solid #fff;
      cursor: pointer;
      position: relative;
      border-radius: 0;
      background: transparent;
    }
  }

  input[type=checkbox]:checked+label::before {
    content: "\2713";
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 14px;
    }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loaderHide{
  left: -4096px;
  height: 0px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.loader1 {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #00000099;
}
.loader1 div {
  animation: loader1 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.loader1 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.loader1 div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader1 div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.loader1 div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader1 div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.loader1 div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader1 div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.loader1 div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader1 div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.loader1 div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader1 div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.loader1 div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader1 div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.loader1 div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader1 div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.loader1 div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader1 div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes loader1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu_list{

  display: none;
  ul{

  position: absolute;
  left: -24px;
  top: 44px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: -2px 2px 18px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 2px 18px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 18px 2px rgba(0, 0, 0, 0.5);
  z-index: 9;
    &:before{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      left: 24px;
      top: -20px;
    }
    float: left;
    width: 165px;
    list-style: none;
    padding:0;
    margin: 0;

    li{
      float: left;
      width: 100%;
      padding: 19px 20px 16px;
      font-size: 14px;
      color: #1d1f23;
      line-height: 15px;
      border-bottom: 1px solid #e6e6e6;
      &:last-child{border-bottom: 0px;}
    }
  }
}
.exp_settings_pop {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  height: auto;
  left: 0;
  right: 0;
  top: 20%;
  z-index: 4;
  overflow: hidden;
  overflow-y: auto;
  margin: 0 auto;
  display: none;
  h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .aid-close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    width: 11px;
    height: auto;
    cursor: pointer;
  }
  .ai-form-group{
    margin-bottom: 24px;
  }
  .cmnt_check {
    float: left;
    width: 100%;
    margin-bottom: 24px;
    label{
      font-size: 16px;
      line-height: 18px;
      &:before{
        height: 18px;
        width: 18px;
        margin-right: 10px;
        border-color: #3dbdb6;
      }
    }
  }
  .cmnt_check input[type=checkbox]:checked + label::before{
    color: #3dbdb6;
    font-size: 14px;
    line-height: 16px;
  }
  .primary{
    background: #3dbdb6;
    color: #fff;
    margin: 0 auto;
    float: none;
    display: table;
  }
}
